<div class="row mx-0 d-flex justify-content-center">
  <h1 class="col-12 text-center my-4">NG ToDo's</h1>
  <div class="navbar col-12" *ngIf="user.username">
    <a
      class="mr-2"
      [routerLink]="['/admin']"
      routerLinkActive="router-link-active"
      >Admin</a
    >
    <a
      class="mr-2"
      [routerLink]="['/todos']"
      routerLinkActive="router-link-active"
      >Your Todos</a
    >

    <a class="mr-2" href="javascript:void(0);" (click)="onLogout()">Logout</a>
  </div>

  <div class="component-container" class="col-md-8 col-lg-7 col-sm-11">
    <router-outlet></router-outlet>
  </div>
</div>
